*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(images/background.jpg);
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}  
.logo{
    width: 240px;
    cursor: pointer;
}
nav{
    flex: 2;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: #000000;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 750px;
}
h1{
    font-size: 80px;
    padding-bottom: 25px;
}
h1 span{
    color: #CA79B1;
}
h1 span1{
    color: #73a8d9;
}
p{
    color: #fff;
    font-size: 21px;
    line-height: 25px;
    
}

/*------------About Us CSS--------------*/

#about-us{
    width: 100%;
    height: 105vh;
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-flex{
    display: flex;
    gap:50px;
}
.photo-one{
    max-width: 450px;
}
.graph-two{
    color: #000000
}
.text-flex{
    padding-left: 50px;
}

/*------------Available Services--------------*/

#available-services{
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.header-three{
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.avail-service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
}
.service-one{
    border-radius: 20px;
    max-width: 550px;
}

/*------------For Small Screen--------------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    .container{
        width: 100%;
        height: 100vh;
        background-size: cover;
        box-sizing: border-box;
    }
    .logo{
        width: 150px;
        cursor: pointer;
    }
    .head{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 570px;
    }
    h1{
        font-size: 40px;
        padding-bottom: 27px;
    }
    h1 span{
        color: #CA79B1;
    }
    h1 span1{
        color: #73a8d9;
    }
    p{
        color: #000000;
        font-size: 15px;
        line-height: 25px;
    }
    nav .fa-solid{
        display: block;
        font-size: 30px;
    }
    nav ul{
        background: #73a8d9;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #about-us{ 
        display: flex;
        flex-direction: column;
    }
    .about-flex{
        gap: 10px;
    }
    .text-flex{
        display: inline-block;
        padding-top: 20px;
        padding-left: 10px;
    }
    .photo-one{
        max-width: 170px;
        display: flex;
        flex-direction: column;
    }
    .header-three{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 31px;
    }
    .service-one{
        max-width: 350px;
    }
    .avail-service{
        flex-direction: column;
        gap: 10px;
    }
}