*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(images/background.jpg);
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}  
.logo{
    width: 240px;
    cursor: pointer;
}
nav{
    flex: 2;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1;
}
.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 750px;
}
h1{
    font-size: 80px;
    padding-bottom: 25px;
}
h1 span{
    color: #CA79B1;
}
h1 span1{
    color: #73a8d9;
}
p{
    color: #fff;
    font-size: 21px;
    line-height: 25px;
    
}

/*------------About Us CSS--------------*/

#about-us{
    width: 100%;
    height: 105vh;
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-flex{
    display: flex;
}
.photo-one{
    max-width: 450px;
    padding-right: 40px;
}
.graph-two{
    color: #000000
}

/*------------Available Services--------------*/

#available-services{
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.header-three{
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.graph-three{
    color: #000000;
    text-align: center;
}
.table-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 500px;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icons{
    max-width: 150px;
    max-height: 150px;
    margin: 30px;
}
